<ul class="flights-container container pt-4">
  <h1>Flights</h1>
  <div class="text-center" *ngIf="isLoading" style="margin-top: 150px;">
      <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
      </div>
  </div>
  <li *ngFor="let flight of flights">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">{{ flight.airline }}</h5>
        
        <p class="card-text">Flight ID: {{ flight._id }}</p>
        
        <p class="card-text">Flight number: {{ flight.flightNumber }}</p>
        <p class="card-text">Departure: {{ flight.origin }}</p>
        <p class="card-text">Destination: {{ flight.destination }}</p>
        <!--<button class="btn btn-danger" (click)="onCancelFlight(flight.flightNumber)">Cancel Flight</button>-->
        <button class="btn btn-danger" (click)="onDeleteFlight(flight._id)">Cancel Flight</button>
        </div>
    </div>
  </li>
</ul>
