.header-container{
    height: 10vh;
    border-bottom: 1px solid rgb(201, 201, 201);
}
@media screen and (max-width:768px) {
    .header-container{
        border: 0;
    }
}
.navbar{
   
    min-height: 10vh;
    background-color:#F89880;
    border-bottom: 1px solid black;
    padding-left: 140px;
    padding-right: 140px;
}
@media screen and (max-width:768px) {
    .navbar{
        background-color: white;
        padding: 12px;
    }
}

.dropdown-item{
    cursor: pointer;
}